<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<div class="header">
    <div class="logo"><a href="/">WellSpring</a> </div>
    <nav class="nav">
        <ul class="nav-links">
            
            <li><a href="/diet-and-workout">Diet and Fitness Planner</a></li>
            <li><a href="/recipe-recommendation" class="btn">Recipe Recommendations</a></li>
        </ul>
    </nav>
</div>

<body>



    <div class="container">
        {% if recommendations %}
        <h2>Recommendations</h2>


        <div class="result-buttons">
            <button onclick="showModal('dietModal')">View Diet Types</button>
            <button onclick="showModal('workoutModal')">View Workout Options</button>
            <button onclick="showModal('breakfastModal')">View Breakfast Ideas</button>
            <button onclick="showModal('dinnerModal')">View Dinner Options</button>
            <button onclick="showModal('tipsModal')">View Additional Tips</button>
            <button onclick="showModal('nutrientsModal')">Nutrients required</button>
        </div>
        {% endif %}
    </div>

    <div id="dietModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('dietModal')">&times;</span>
            <h3>Diet Types</h3>
            <ul>
                {% for diet in recommendations.diet_types %}
                <li>{{ diet }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="workoutModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('workoutModal')">&times;</span>
            <h3>Workout Options</h3>
            <ul>
                {% for workout in recommendations.workouts %}
                <li>{{ workout }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="breakfastModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('breakfastModal')">&times;</span>
            <h3>Breakfast Ideas</h3>
            <ul>
                {% for breakfast in recommendations.breakfasts %}
                <li>{{ breakfast }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="dinnerModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('dinnerModal')">&times;</span>
            <h3>Dinner Options</h3>
            <ul>
                {% for dinner in recommendations.dinners %}
                <li>{{ dinner }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="tipsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('tipsModal')">&times;</span>
            <h3>Additional Tips</h3>
            <ul>
                {% for tip in recommendations.additional_tips %}
                <li>{{ tip }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="nutrientsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('nutrientsModal')">&times;</span>
            <h3>Nutrient Values</h3>
            <ul>
                {% for nutrient in recommendations.nutrient_value %}
                <li>{{ nutrient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        function showModal(modalId) {
            document.getElementById(modalId).style.display = "block";


        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";


        }

        // Close modals when clicking outside of them
        window.onclick = function (event) {
            const modals = document.getElementsByClassName("modal");
            for (let i = 0; i < modals.length; i++) {
                if (event.target == modals[i]) {
                    modals[i].style.display = "none";
                }
            }
        }
    </script>

</body>

</html>